@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}